/* USER VARIABLES SECTION */
/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
/*.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }



/* BOOTSTRAP SETTINGS SECTION */

.row, .row > * { --bs-gutter-x: 1.25rem; }*/

/* FONTS LOAD SECTION */

@font-face{
	src: url(../fonts/Josefin_Sans/JosefinSans-Bold.ttf);
	font-family:'JosefinBold-m';
}

/* GENERAL CSS SETTINGS */

::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

:root{
	font-size: 16px;
	line-height: 1; 
	--colorbgsection: #ba3c3c;
	--colorsquerred:  #e94242;
	--colorsquerdark: #3c3c3c;
	--colortextred  : #ea4343;
	--colortexttitle: #15111e;
	--sizeindex: calc(1vh + 1vw);
}

body {
	color: white;
	width: 100%;
	height: 100%; 
	background-color: #303030;
	position: relative;
	overflow-x: hidden;
	font-family: 'JosefinBold-m', sans-serif;
}

footer,aside,header,
nav,article,menu,
figure,section,picture,
video,audio{
	display: block;
}

*{
	box-sizing: border-box;
	clear: both;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: 0;
}

a{
	display: block;
	cursor: pointer;
	color: inherit;
	font-family: inherit;
	width: 100%;
	height: 100%;
}
img{
	max-width: 100%;
}
.button,.btn{
	cursor: pointer;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
.clearfix:after{
	content:"";
	display: table;
	clear: both;
}
.wrapper{
	height: 100%;
	width: 100%;
	/*overflow-x: hidden;*/
	/*overflow-y: scroll;*/
}
.container{
	margin: 0 auto; 
	width: calc(100vw - (100% - 1323px));
	min-height: 100%;
	max-width: 162rem;
	padding-left: 10px;
	padding-right: 10px;
}
                                                     /* //////// main user style /////////*/
                                                    
header{
	max-width: 100%;
	height: 1079px;
	background-color: var(--colorsquerdark);
	position: relative;

}
nav{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 146px;
	align-items: center;
}
menu{
	display: flex;
}
menu li{
  margin-left: 50px;
  transition: 0.3s;
}
menu li:first-child{
	color: var(--colortextred);
}
menu li:hover{
	color: var(--colortextred);
}
.logo{
	width: 176px;
	height: 72px;
}
                                                           /*////// header__banner //////*/
.header__banner{
	display: flex;
}
/*/// header__banner-left_block ///*/
.header__banner-left_block{
	width: 40%;
	padding-top: 170px;
}

.header__banner p{
	font-size: 30px;
}
.header__banner h1{
	font-size: 196px;
	color: var(--colortextred);
	margin-top: 50px;
}
.header__banner h2{
	font-size: 48px;
}
.header__banner h2 > span{
	font-size: 84px;
}

/*/// header__banner-right_block ///*/
.header__banner-right_block{
	width: 59%;
	position: relative;
	height: 100%;
}
.itemdeckor_block{
	position: absolute;
}
.block_1{
	width: 95px;
	height: 118px;
	background-color: var(--colorsquerred);
	left: 100px;
	top: 100px;
}
.block_2{
	width: 180px;
	height: 180px;
	background-color: var(--colorsquerred);
	left: 150px;
	top: 610px;
	z-index: 11;
}
.block_3{
	width: 60px;
	height: 80px;
	background-color: var(--colorsquerred);
	right: -150px;
	top: 500px;
}
.block_4{
	right: -50px;
	width: 480px;
	height: 770px;
	background-color: var(--colorsquerred);
}
.block_5{
	width: 500px;
	height: 540px;
	z-index: 9;
	left: 30%;
	border: 5px solid white;
	top: 100px;
}
.text-block{
	width: 520px;
	height: 240px;
	background-image: url(../images/header/text_foto.png);
	z-index: 8;
	left: 50%;
	top: 250px;
}
.manfoto-block{
	width: 562px;
	height: 892px;
	background-image: url(../images/header/foto_man.png);
	z-index: 10;
	left: 25%;
	top: 42px;
}

.social__block{
	width: 25px;
	height: 120px;
	position: absolute;
	left: 70px;
	top: 480px;
}
.mail__block{
	position: absolute;
	left: 70px;
	top: 980px;
}
.social__block li{
	width: 25px;
	height: 40px;
	background-image: url(../images/header/socicon.png);
	transition: 0.5s cubic-bezier(0,.97,.97,.98);
}
.social__block li:nth-child(2){
	background-position: 0 -40px;
}
.social__block li:nth-child(3){
	background-position: 0 -80px;
}
.social__block li:hover{
	transform: scale(1.2);
}
/*/// btn__block ///*/
.btn__block{
	display: flex;
	justify-content: left;
	text-align: center;
	font-size: 18px;
}
.left__btn,.right__btn{
	border-radius: 5px;
  padding: 20px 47px;
  width: 200px;
  margin-top: 40px;
  transition: 0.3s cubic-bezier(0,.97,.97,.98);
  margin-right: 10px;
  position: relative;
}
.left__btn{
	background-color: var(--colortextred);
}

.right__btn:hover{
	background-color: var(--colortextred);
}
.left__btn span{
	width: 19px;
	height: 15px;
	background: url(../images/header/mail.png) no-repeat;
	position: absolute;
	top: 19px;
	right: 30px;
}
.mouse{
	position: absolute;
	width: 18px;
	height: 30px;
	background: url(../images/header/mouse.png) no-repeat;
	left: 0;
	top: 100px;
}

                                                                /*////// iam-aali //////*/
.iam-aali{
	height: 985px;
	background-color: #f4f5fe;
	display: flex;
} 
/*///.iamaali__left-block ///*/
.iam-aali .iamaali__left-block{
	width: 40%;
	height: 100%;
	position: relative;
}  
.iam-aali .iamaali__right-block{
  width: 60%;
  height: 100%;
  position: relative;
}   
.iamaali__left-block__decor{
	position: absolute;
}
.iamaali__left-block__decor:first-child{
  z-index: 1;
  width: 265px;
  height: 265px;
  background-color: var(--colortextred);
  top: 50%;
  left: 95px;
}
.iamaali__left-block__decor:nth-child(2){
  z-index: 2;
  width: 450px;
  height: 490px;
  border-radius: 10px;
  background-image: url(../images/section/section_Iam_Aali/fotoL.png);
  top: 170px;
  left: 160px;
}
.iamaali__left-block__decor:last-child{
  z-index: 3;
  width: 310px;
  height: 300px;
  border: 5px solid white;
  top: 30%;
}

/*///.iamaali__right-block ///*/

.iamaali__right-block{
	color: #15111e;
	padding-top: 170px;
}
.redtext{
	color: var(--colortextred);
	font-size: 24px;
	margin-bottom: 30px;
}
h2{
	font-size: 72px;
	line-height: 1.2;
	margin-bottom: 30px;
}
h2 > span{
	color: var(--colortextred);
}
.blacktext{
	font-size: 36px;
	margin-bottom: 30px;
}
.iamaali__right-block .description{
	max-width: 630px;
	color: #7d7789;
	font-size: 18px;
	line-height: 1.5;
}
.btn__download{
	color: white;
	width: 235px;
	height: 60px;
	background-color: var(--colortextred);
	margin-top: 50px;
	border-radius: 5px;
	position: relative;
	font-size: 18px;
}
.arrowicon{
	width: 18px;
	height: 18px;
	position: absolute;
	background: url(../images/section/section_Iam_Aali/arrow.png) no-repeat;
	left: 80%;
}

.iamaali__right-block__red__block{
	position: absolute;
	width: 400px;
	height: 400px;
	background-color: var(--colortextred);
	right: 0;
	top: 30%;
}
.iamaali__right-block__foto__block{
	position: absolute;
	width: 410px;
	height: 610px;
	background: url(../images/section/section_Iam_Aali/fotoR.png) no-repeat;
	right: 70px;
	bottom: -120px;
	border-radius: 10px;
}
                                                                    /*////// skills //////*/
.skills{
	height: 1060px;
	background: var(--colorbgsection);
}
   /*/// skills__top-block ///*/
.skills__top-block{
	display: flex;
}   
.skills__top-block__left-block,.skills__top-block__right-block{
	width: 50%;
}       
/*/// skills__top-block__left-block ///*/
.skills__top-block__left-block{
	padding-top: 165px;
}
.skills__top-block__left-block .title{
	font-size: 24px;
}
.skills__top-block__left-block > h2{
	/*font-size: 72px;*/
	margin-top: 30px;
	margin-bottom: 30px;
}
.skills__top-block__left-block > .description{
	font-size: 18px;
	line-height: 1.5;
}
/*/// skills__top-block__right-block ///*/
.skills__top-block__right-block{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
.info__title{
	margin-top: 30px;
	font-size: 21px;
}

.persent-line{
	width: 540px;
	height: 5px;
	border-radius: 3px;
	margin-top: 20px;
}
.website__block .persent-line{
	background: linear-gradient(to right,#fff 0%,#fff 86%,rgba(255,255,255,.3) 86%,rgba(255,255,255,.3) 100%);
}
.mobile__block .persent-line{
	background: linear-gradient(to right,#fff 0%,#fff 90%,rgba(255,255,255,.3) 90%,rgba(255,255,255,.3) 100%);
}
.game__block .persent-line{
	background: linear-gradient(to right,#fff 0%,#fff 66%,rgba(255,255,255,.3) 66%,rgba(255,255,255,.3) 100%);
}
.info__title-mini__container{
	display: flex;
	justify-content: space-between;
}

/*/// skills__bottom-block ///*/
.skills__bottom-block{
	margin-top: 170px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.skills__bottom-block p{
	font-size: 24px;
}
.skills__bottom-block h2{
	margin-top: 10px;
	margin-bottom: 60px;
	font-size: 60px;
}
.skills__menu{
	display: flex;
	width: 45%;
	justify-content: space-around;
	font-size: 18px;
}
.white__border-block{
	border-top: 5px solid white;
	border-right: 5px solid white;
	width: 450px;
	height: 300px;
	position: absolute;
	z-index: 1;
	left: -300px;
	top: 130px;
}
.skills__container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
	position: absolute;
	top: 200px;
	z-index: 2;

}
.skills__container-block__content{
  width: 420px;
  height: 420px;
  border-radius: 5px;
  margin: 20px 0;
  background-position: -20px;
}
.skills__container-block__content:nth-child(1){
	background: url(../images/section/section_Skills/item1.png);
}
.skills__container-block__content:nth-child(2){
	background: url(../images/section/section_Skills/item2.png);
}
.skills__container-block__content:nth-child(3){
	background: url(../images/section/section_Skills/item3.png);
}
.skills__container-block__content:nth-child(4){
	background: url(../images/section/section_Skills/item4.png);
}
.skills__container-block__content:nth-child(5){
	background: url(../images/section/section_Skills/item5.png);
}
.skills__container-block__content:nth-child(6){
	background: url(../images/section/section_Skills/item6.png);
}

        /*/// white__space ///*/
.white__space{
	height: 880px;
	background-color: #f4f5fe;
}
.skills__container-block__content .skills-title__block{
	width: 100%;
	height: 100%;
	background-color: rgba(255,67,67,0);
	transition: 0.3s;
	cursor: pointer;
}
.skills-title__block a{
	position: relative;
	opacity: 0;
	transition: 0.35s;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.skills-title__block a::before{
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 72px;
  height: 6px;
  background: #fff;
}
.skills-title__block a::after{
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%) rotate(90deg);	
	width: 72px;
	height: 6px;
	background: #fff;
}
.skills-title__block a::before:hover,.skills-title__block a::after:hover{
	width: 50px;
}
.skills-title__block:hover a{
	opacity: 1;
}
.skills__container-block__content:hover .skills-title__block{
	background-color: rgba(255,67,67,.72);
}
.skills-title__block a{
	text-align: center;
	font-family:'JosefinBold-m',sans-serif;
}
.skills-title__block h3{
	font-size: 15px;
	margin-top: 190px;
	margin-bottom: 30px;
}
.skills-title__block p{
	font-size: 24px;
}

                                                       /*////// service //////*/

.service{
	height: 1300px;
	background-color: #f4f5fe;
	color: var(--colortexttitle);
	position: relative;
  padding-top: 1px;
}
.service > .container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	min-height: 1px;
  height: 1080px;
  margin-top: 100px;
}
.service__block{
	width: 645px;
	height: 340px;
	border-radius: 10px;
  padding: 65px 65px 65px 205px;
  background-color: #fff;
  cursor: pointer;
}
.service__block-first h4{
  font-size: 24px;
  color: var(--colortextred);
}
.service__block-first{
	padding: 0;
	padding-right: 140px;
	font-weight: 100;
}
.service__block-first h3{
	font-size: 60px;
	margin-top: 25px;
	margin-bottom: 60px;
}

.service__block-shadow{
	box-shadow: 0 0 20px 20px #f1eef7;
	position: relative;
}
.service__block-shadow h3{
	font-size: 36px;
}
.service__block-shadow h5{
	font-size: 18px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.service__block-shadow h5 > span{
	font-size: 30px;
	color: var(--colortextred);
	margin-left: 15px;
}
.service__block p{
	font-size: 18px;
	color: #7d7789;
	line-height: 1.5;
}
.service__block-last{
	padding: 100px 100px 0 100px;
	text-align: center;
}
.service__block-last h3{
	font-size: 36px;
	margin-bottom: 40px;
	line-height: 1.2;
}
.service__block-btn{
	width: 205px;
	height: 57px;
	border: 2px solid var(--colortextred);
	border-radius: 6px;
  margin: 0 auto;
}
.service__block-btn a{
	padding-top: 18px;
	background-position: 80% 19px;
	background-repeat: no-repeat;
}
.icon__block{
	width: 72px;
	height: 72px;
	position: absolute;
	left: 76px;
	top: 84px;
	background-repeat: no-repeat;
}
.service__decoreblock-red,.service__decoreblock-black{
	position: absolute;
}
.service__decoreblock-red{
	width: 157px;
	height: 230px;
	background-color: var(--colortextred);
	top: 0;
	right: 0;
}
.service__decoreblock-black{
	width: 415px;
	height: 230px;
	background-color: var(--colorsquerdark);
	left: 0;
	bottom: 0;
	z-index: 1;
}
.service__block:nth-child(5){
	position: relative;
}
.invisible__block{
	width: 180px;
	height: 180px;
	background: #fff;
	position: absolute;
	z-index: 2;
	left: 0;
	bottom: 0;
	border-radius: 10px;
}

                                                              /*////// resume //////   */

.resume{
	height: 1300px;
	background-color: #f4f5fe;
	position: relative;
	color: var(--colortexttitle);
	padding-top: 220px;
}
.resume__fotoblock{
	width: 500px;
	height: 986px;
	position: absolute;
	top: 20px;
	right: 0;
	z-index: 0;
}      
/*/// resume__topblock ///*/
.resume__topblock{
	padding-right: 40%;
	position: relative;
}
.resume__topblock h4{
	font-size: 24px;
	color: var(--colortextred);;
}
.resume__topblock h3{
	font-size: 60px;
	margin-top: 30px;
	margin-bottom: 40px;
}
.resume__topblock p{
	color: #7d7789;
	font-size: 30px;
}
.resume__decorblock{
	width: 130px;
	height: 130px;
	background-color: var(--colortextred);
	position: absolute;
	top: 0;
	right: 170px;
}
/*/// resume__bottomblock-droplistblock ///*/

.resume__bottomblock-droplistblock{
	height: 200px;
	overflow: hidden;
	transition: 1s;
}
.plusminus__onoff.resume__bottomblock-droplistblock{
	height: 500px;
}
/*/// resume__bottomblock ///*/
.resume__bottomblock{
	display: flex;
	width: 1030px;
	padding-top: 90px;
}
.resume__bottomblock-left,.resume__bottomblock-right{
	width: 50%;
}
.droplistblock__title{
	position: relative;
	cursor: pointer;
	margin-bottom: 45px;
}
.droplistblock__title h4{
	font-size: 36px;
	margin-left: 40px;
}
.plusminus__block::before,.plusminus__block::after{
	display: block;
	content: "";
	width: 30px;
	height: 6px;
	background-color: var(--colortextred);
	position: absolute;
	top: 50%;
	transition: 0.3s;
}
.plusminus__block::before{
	transform: rotate(90deg);
}
.plusminus__block::after{
	transform: rotate(180deg);
}
/*/// javascript class add "plusminus__onoff" ///*/
.plusminus__onoff .plusminus__block::after{
	transform: rotate(0deg);
}
.plusminus__onoff .plusminus__block::before{
	transform: rotate(0deg);
}
.content__block{
	position: relative;
	margin-bottom: 35px;
	padding-left: 65px;
	padding-right: 100px;
	color: var(--colortexttitle);
}
.content__block-titleblock{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.content__block h5{
	margin-top: 10px;
	margin-bottom: 20px;
}
.content__block p{
	color: #7d7789;
}
.content__block-iconblock{
	position: absolute;
	left: 0;
	top: 0;
	width: 48px;
	height: 48px;
}
.resume__bottomblock-left .content__block-iconblock{
	background: url(../images/section/section_Resume/educationicon.png) no-repeat;
}
.resume__bottomblock-right .content__block-iconblock{
	background: url(../images/section/section_Resume/experienceicon.png) no-repeat;
}

                                                             /*////// peoplesay //////*/

.peoplesay{
	height: 865px;
	background: var(--colorbgsection);
	display: flex;
}
.peoplesay-container{
	width: 50%;
}

/*/// peoplesay__left-block ///*/
.peoplesay__left-block{
	position: relative;
}
.peoplesay__left-block__decor-block{
	position: absolute;
  width: 490px;
  height: 380px;
  border: 6px solid white;
  left: -10px;
  top: 25%;
  z-index: 2;
}
.peoplesay__left-block__foto-block{
	position: absolute;
	width: 604px;
	height: 960px;
	background: url(../images/section/section_PeopleSay/fotoman.png) no-repeat;
	bottom: 0;
	left: 150px;
}

/*/// peoplesay__right-block ///*/
.peoplesay__relative-decor-container{
	position: relative;
}
.peoplesay__right-block{
	overflow-x: hidden;
	height: 100%;
}

.peoplesay__right-block__decorkoma-block{
	width: 170px;
	height: 210px;
	border: 6px solid white;
	position: absolute;
	background: url(../images/section/section_PeopleSay/quotationicon.png) no-repeat 50% 50%;
	top: -10px;
	right: 150px;
}
.peoplesay__right-block__decorcolor-block{
	width: 150px;
	height: 150px;
	position: absolute;
	background: var(--colorsquerdark);
	bottom: -70px;
	right: 300px;
	z-index: 3;
}

.peoplesay__right-block h3{
	font-size: 24px;
	transition: 0.4s ease-in-out;
	transition-delay: 0.1s;
}
.peoplesay__right-block h2{
	margin-top: 25px;
	margin-bottom: 90px;
	font-size: 60px;
	transition: 0.5s ease-in-out;
	transition-delay: 0.2s;
}
.peoplesay__right-block p{
	font-size: 30px;
	line-height: 1.5;
	transition: 0.6s ease-in-out;
	transition-delay: 0.3s;
}
.autor-block{
	position: relative;
	padding-left: 60px;
	margin-top: 55px;
}
.autor-block::before{
	content: "";
	display: block;
	position: absolute;
	width: 35px;
	height: 1px;
	background: rgba(255,255,255,.5);	
	top: 50%;
	left: 0;
}
.autor-block h4{
	font-size: 21px;
	transition: 0.7s ease-in-out;
	transition-delay: 0.s;
}
.autor-block h4 span{
	font-size: 18px;
	margin-left: 30px;
	font-weight: 100;
}

/*/// arrow__block ///*/
.arrowslide-block{
	width: 100px;
	height: 25px;
	position: absolute;
	left: 100;
	bottom: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 15px;
	z-index: 5;
}
.left__arrow-container,.right__arrow-container{
	width: 30px;
	height: 25px;
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: 0.3s;
}
.left__arrow,.right__arrow{
	width: 30px;
	height: 3px;
	background: #fff;
	position: relative;	
}
.left__arrow-container:hover,.right__arrow-container:hover{
	transform: scale(1.5)
}
.left__arrow::before,.right__arrow::before,
.left__arrow::after,.right__arrow::after{
	content: "";
	display: block;
	width: 10px;
	height: 3px;
	background: #fff;
	position: absolute;
}
.left__arrow::before{
  transform: rotate(45deg) skew(-45deg);
  transform-origin: left center;
}
.left__arrow::after{
  transform: rotate(-45deg) skew(45deg);
  transform-origin: left center;
}
.right__arrow::before,.right__arrow::after{
	right: 0;
}
.right__arrow::before{
  transform: rotate(-45deg) skew(45deg);
  transform-origin: right center;
}
.right__arrow::after{
  transform: rotate(45deg) skew(-45deg);
  transform-origin: right center;
}

/*/// slider-container ///*/
.peoplesay__slider-container{
	display: flex;
	width: 1000%;
	height: 100%;
}
.peoplesay__right-block__slider-container{
	padding-top: 160px;
	padding-right: 300px;
	width: 50vw;
	height: 100%;
	flex-shrink: 1;
}

                                                               /*////// blog //////*/
.blog{
	height: 1255px;
	background: #f4f5fe;
	color: var(--colortexttitle);
}
.blog h3{
	color: var(--colortextred);
	margin-bottom: 20px;
}
/*/// blog__top-block ///*/
.blog__top-block{
	text-align: center;
	padding-top: 170px;
}
.blog__top-block h3{
	font-size: 24px;
}
.blog__top-block h2{
	font-size: 60px;
}
.blog__top-block p{
	font-size: 18px;
	color: #7d7789;
	padding: 0 35%;
}

/*/// blog__bottom-block ///*/
.blog__bottom-block{
	padding-top: 90px;
	width: 100%;
}
.blog__bottom-block h3{
	font-size: 18px;
}
.blog__bottom-block__content-container{
	display: flex;
	width: 1200px;
	height: 292px;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 50px;
}
.blog__bottom-block__content-container p{
	font-size: 36px;
	margin-top: 20px;
	margin-bottom: 32px;
}
.blog__bottom-block__content-container .img__container{
	width: 425px;
	height: 292px;
	border-radius: 10px;
}
.blog__title-block{
	margin-right: 100px;
	width: 400px;
}
.blog__btn a {
	width: 170px;
	height: 57px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	border: 2px solid var(--colortextred);
}

                                                      /*////// statistic-content //////*/
.statistic-content{
	height: 350px;
	background: var(--colorbgsection);
	position: relative;
}                                                      
.statistic-content__container{
	width: 1145px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.statistic__block{
	display: flex;
	line-height: 1.4;
}
.statistic__block h3{
	font-size: 72px;
}
.statistic__block h3>span{
	font-size: 80px;
	/*margin-left: -20px;*/
}
.statistic__block p{
	font-size: 30px;
	margin-left: 30px;
	padding-top: 10px;
}
.statistic__whiteline{
	width: 6px;
	height: 100%;
	background: #fff;
	position: absolute;
	top: 0;
	right: 200px;
}
                                                /*/////// contact //////*/
.contact{
	height: 1085px;
	background: #f4f5fe;
	color: var(--colortexttitle);
	position: relative;
	padding-top: 170px;
}
.contact__top-decorblock,
.contact__bottom-decorblock{
	position: absolute;
}
.contact__top-decorblock{
	width: 115px;
	height: 90px;
	top: 80px;
	left: 80px;
	background: var(--colorsquerdark);
}
.contact__bottom-decorblock{
	width: 80px;
	height: 140px;
	right: 90px;
	bottom: -70px;
	background: var(--colortextred);
}

   /*/// contact__top-block ///*/
.contact__top-block{
	text-align: center;
}
.contact__top-block h3{
  color: var(--colortextred);
  font-size: 24px;
}
.contact__top-block h2{
  font-size: 60px;
  margin-top: 30px;
  margin-bottom: 90px;
  padding: 0 30%;
}

   /*/// contact__bottom-block ///*/
.contact__bottom-container{
	width: 1320px;
	margin: 0 auto;
}
.contact__bottom-block{
	display: flex;
}
.contact__bottom-block__left-container,
.contact__bottom-block__right-container{
	width: 50%;
}
/* contact__bottom-block__left-container */
.contact__bottom-block__left-container{
	padding-right: 260px;
}
.contact__bottom-block__left-container p{
  color: #7d7789;
  line-height: 1.5;
  font-size: 18px;
}
.contact__container{
	margin-top: 45px;
	display: flex;
}
.contact__container h4{
	font-size: 18px;
	font-weight: 300;
	line-height: 1.3;
}
.contact__container h4 span{
	color: var(--colortextred);
	font-size: 30px;
	font-weight: 600;
}
.contact__block-icon{
	width: 56px;
	height: 56px;
	margin-right: 25px;
}

/* contact__bottom-block__left-container */

input,textarea{
  width: 100%;
  height: 60px;
  font-size: 18px;
  padding-left: 25px;
  box-shadow: 0 5px 20px 5px #eeeaf2;
  margin-bottom: 20px;
  border-radius: 10px;

}
textarea{
	height: 180px;
	padding-top: 25px;
	box-shadow: 0 0 20px 10px #eeeaf2;
  resize:none;
  font-style: sans-serif;

}
.contact__button{
	width: 260px;
	height: 60px;
	font-size: 18px;
	background: var(--colortextred);
	color: #fff;
	border-radius: 5px;
	background-image: url(../images/section/section_Contact/messageicon.png);
	background-repeat: no-repeat;
	background-position: 85% 50%;
}

                                                    /*////// footer //////*/

footer{
	height: 400px;
}
.footer__decor-block{
	position: absolute;
	width: 320px;
	height: 245px;
	border: 6px solid white;
	top: -10px;
	left: -50px;
}
.footer__container{
	width: 1325px;
	margin: 0 auto;
	padding-top: 95px;
	position: relative;
}
/*/// footer__top-block ///*/

.footer__top-block{
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__contact-container{
	width: 270px;
	height: 48px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__contact-container__soc-block{
	width: 48px;
	height: 48px;
	background: url(../images/footer/facebookicon.png)no-repeat;
	transition: 0.4s;
}

.footer__contact-container__soc-block:nth-child(2){
	background: url(../images/footer/twittericon.png)no-repeat;
}
.footer__contact-container__soc-block:nth-child(3){
	background: url(../images/footer/instagrammicon.png)no-repeat;
}
.footer__contact-container__soc-block:hover{
	transform: scale(1.1);
}

/*/// footer__bottom-block ///*/

.footer__bottom-block{
	display: flex;
	margin-top: 120px;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	color: #b6b2bf;
	font-weight: 100;
}

.footer__autor-block h4 span{
	margin: 0 10px;
	color: #e0dce9;
}

.footer__navigate-block{
	display: flex;
	justify-content: space-between;
	width: 425px;
}
