 USER VARIABLES SECTION */



/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
/*.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 1.25rem; }*/

/* FONTS LOAD SECTION */

@font-face{
	src: url(../fonts/Gotham-Book.ttf);
	font-family: Gothambook-m,sans-serif;
}
@font-face{
	src: url(../fonts/Gotham-Bold.ttf);
	font-family: Gothambold-m,sans-serif;
}
@font-face{
	src: url(../fonts/Gotham-Thin.ttf);
	font-family: Gothamthin-m,sans-serif;
}
/* GENERAL CSS SETTINGS */

::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

:root{
	font-size: 16px;
	line-height: 1; 
}

body {
	color: white;
	width: 100%;
	height: 100%; 
	background-color: #303030;
	position: relative;
	overflow-x: hidden;
	font-family: "Gothambook-m",sans-serif;
}

footer,aside,header,
nav,article,menu,
figure,section,picture,
video,audio{
	display: block;
}

*{
	box-sizing: border-box;
	clear: both;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: 0;
}

a{
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: inherit;
	font-family: inherit;
	width: 100%;
	height: 100%;
}
img{
	max-width: 100%;
}
.button,.btn{
	cursor: pointer;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
.clearfix:after{
	content:"";
	display: table;
	clear: both;
}
.wrapper{
	height: 100%;
	width: 100%;
}
.container{
	margin: 0 auto; 
	width: 1284px;
	min-height: 100%;
	max-width: 75%;
	padding-left: 10px;
	padding-right: 10px;
}
          /* //////// main user style /////////*/



                                                /*/////// header ///////*/
header{
	min-height: 100vh;	
	background-image: url(../images/headers/header_bg.jpg);
	background-size: cover;
	position: relative;
}  
.bg__blashka{
	position: absolute;
	width: 70%;
	height: 100%;
	background: #303030;
	opacity: 0.5;
	z-index: 0;
	transform: skewX(-25deg) translateX(-18%);
}                                              
/*/// header__menu ///*/
header .container{
  padding-top: 55px;
}
.header__menu{
	position: relative;
	background: #fff;
	max-width: 1025px;
	height: 160px;
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 40px;
	color: #2e343b;
}
header a{
	display: flex;
	align-items: center;
}
.header__menu-top{
	display: flex;
	justify-content: space-between;
}
.headers__icon-block{
	padding-left: 55px;
}
.mail__block{
	background: url(../images/headers/emailicon.png) no-repeat;
	background-position: 0 center;
}
.lang__block{
	width: 160px;
	margin-right: 100px;
	padding-top: 22px;
	position: relative;
}
.lang__block .lang__icon{
	display: block;
	width: 41px;
	height: 41px;
	border-radius: 50%;
	border: 1px solid #e1e1e1;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background: url(../images/headers/flags_lang/1.png) no-repeat center center;
}
.lang{
	width: 150px;
	height: 18px;
	overflow: hidden;
	position: absolute;
	transition: 0.1s;
	padding-left: 10px;
}
.lang li{
	margin-bottom: 10px;
	cursor: pointer;
} 
.lang li:hover{
	color: #000;
}

.lang__block::after{
	position: absolute;
	top: 50%;
	right: 0;
	display: block;
	content: "";
	border: 3px solid transparent;
  width: 0px;
  height: 0px;
  border-top-color: #545454;
}
.lang.plusminus__onoff{
	height: 300px;
	overflow-y: scroll;
	border: 1px solid #eee;
	background-color: #fff;
}

/*/// header__menu-bottom ///*/

.navigate{
	display: flex;
	margin-top: 40px;
	justify-content: space-between;
	align-items: center;
}
li{
	cursor: pointer;
}
.navigate .submenu{
	position: relative;
}
.navigate .submenu:hover ul{
	display: block;
}
.navigate .submenu::after{
	position: absolute;
	top: 50%;
	right: -20px;
	display: block;
	content: "";
	border: 3px solid transparent;
  width: 0px;
  height: 0px;
  border-top-color: #545454;
}
.navigate .submenu > ul{
	position: absolute;
	background-color: rgba(255,255,255,.4);
	display: none;
	transition: .3s;
	width: 200px;
  backdrop-filter: blur(10px);
}
.navigate .submenu > ul li{
	padding: 10px 5px;
	border-bottom: 1px solid #fff;
	
}
.navigate .submenu > ul li a{
	transition: .1s ease-in-out;
}
.navigate .submenu > ul li:hover a{
	color: #000;
	transform: translateX(5px);
}

/*/// socialnavigate ///*/
.socialnavigate{
	display: flex;
}
.socialnavigate > a{
	width: 26px;
	height: 27px;
	margin-right: 8px;
	background: url(../images/headers/facebookicon.png) no-repeat;
	transition: .4s;
}
.socialnavigate > a:nth-child(2){
	background: url(../images/headers/twittericon.png) no-repeat;
}
.socialnavigate > a:nth-child(3){
	background: url(../images/headers/instagrammicon.png) no-repeat;
}
.socialnavigate  a:hover{
	transform: scale(1.1);
}

/*/// bannerdescription ///*/

.bannerdescription__container{
	position: relative;
	margin-top: 165px;
	margin-left: 15px;
	width: 50%;
}

.bannerdescription__container h3{
	font-size: 42px;
	font-family: Gothambook-m,sans-serif;
	font-weight: 100;
	position: relative;
}
.bannerdescription__container h3::after{
	content: "";
	display: block;
	width: 190px;
	height: 4px;
	background: #eb5635;
	position: absolute;
	top: 60px;
}
.bannerdescription__container h2{
	font-size: 42px;
	font-family: Gothambold-m,sans-serif;
	margin-top: 45px;
	margin-bottom: 37px;
	line-height: 1.3;
}

.bannerdescription__container > p{
	font-size: 18px;
	font-family: Gothamthin-m,sans-serif;
	opacity: .6;
	line-height: 1.2;
	margin-bottom: 37px;
}

.bannerdescription__container .button__block{
	display: flex;
	text-transform: uppercase;
	font-size: 15px;
}

.banner__left-block{
	width: 160px;
	height: 40px;
	background: #eb5635;
	border-radius: 20px;
	color: #f8f8f8;
}

.banner__right-block{
	width: 194px;
	height: 40px;
  border-radius: 20px;
  background: #fff;
  color: #241c1f;
  margin-left: 10px;
}
                                         /*////// homefront ///////*/

.homefront{
	background: #fff url(../images/section/section_homefront/homefront_bg.png) no-repeat;
	height: 608px;
}

/*/// homefront__top-block__content-block ///*/

.homefront__top-block__content-block{
	width: 50%;
	padding-right: 30px;
}
.homefront__top-block > .container{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 608px;
}
.homefront__top-block__content-block h3{
	font-size: 42px;
	font-family: Gothambook-m,sans-serif;
	font-weight: 100;
	position: relative;
	color: #686868;
}
.homefront__top-block__content-block h3::after{
	content: "";
	display: block;
	width: 190px;
	height: 4px;
	background: #eb5635;
	position: absolute;
	top: 60px;
}
.homefront__top-block__content-block h2{
	font-size: 42px;
	font-family: Gothambold-m,sans-serif;
	margin-top: 45px;
	margin-bottom: 37px;
	line-height: 1.3;
	color: #4f4f4f;
}

.homefront__top-block__content-block > p{
	font-size: 18px;
	font-family: Gothamthin-m,sans-serif;
	opacity: .6;
	line-height: 1.2;
	margin-bottom: 37px;
	color: #b1b1b1;
}

.homefront__top-block__content-block .button__block{
	display: flex;
	text-transform: uppercase;
	font-size: 15px;
}

.banner__left-block{
	width: 158px;
	height: 40px;
	background: #eb5635;
	border-radius: 20px;
	color: #f8f8f8;
}

.banner__right-block{
	width: 194px;
	height: 40px;
  border-radius: 20px;
  background: #fff;
  color: #241c1f;
  margin-left: 10px;
}

/*/// homefront__bottom-block ///*/
.homefront__bottom-block{
	background: #fafafa;
	height: 490px;
}
.homefront__bottom-block .container{
	position: relative;
	padding: 0;
}
.homefront__bottom-block__content-container{	
	/*width: calc(100% - 20px);*/
	width: 100%;
	height: 490px;
	position: absolute;
	top: -80px;
  display: flex;
  justify-content: space-between;
}

.bottom__block-content__block{
	width: calc((100%/3 - 5px) + 100px);
	height: 100%;
	background: #fff;
	display: flex;
	color: #4b4b4b;
}
.bottom__block-content__block h3{
	font-size: 27px;
	font-weight: 100;
	line-height: 1.3;
	margin-bottom: 30px;
}
/*bottom__block-content 1*/
.bottom__block-content__block-leftblock{
	width: 50%;
	background: url(../images/section/section_homefront/cherep.png) no-repeat;
  background-size: cover;
}
.bottom__block-content__block-rightblock{
	padding-left: 45px;
	padding-top: 45px;
}
.bottom__block-content__block-rightblock p{
	color: #b1b1b1;
	line-height: 1.4;
}
/*bottom__block-content 2*/
.bottom__block-content__block:nth-child(2){
	width: calc((100%/3 + 20px)/2);
	display: flex;
	flex-direction: column;
	align-self: stretch;
}
.bottom__block-content__block-topblock{
	background: url(../images/section/section_homefront/homefront_drift.png) no-repeat;
  height: 50%;
}
.bottom__block-content__block-bottomblock{
  height: 50%;
  padding-top: 30px;
  padding-left: 25px;
}

/*bottom__block-content 3*/
.bottom__block-content__block:nth-child(3){
	background: url(../images/section/section_homefront/homefront_soldger.png) no-repeat;
	background-size: cover;
}

/*/// genre__container /// */
.genre__container{
	margin-top: 30px;
	margin-bottom: 60px;
}
.genre__block{
	display: flex;
	font-size: 18px;
	align-items: center;
	margin-bottom: 17px;
}

.genre__block p{
	color: #eb5635;
	font-weight: 600;
}

.number__block{
	font-size: 15px;
	width: 45px;
	height: 45px;
	border: 3px solid #eb5635;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 14px;	
}

                                         /*/////// developers ///////*/

.developers{
	min-height: 275px;
	background: #fafafa;
}
                                      
/*/// developer__top-block ///*/
.developer__top-block h3{
	font-size: 36px;
	color: #222;
  width: 40%;
  position: relative;
}
.developer__top-block h3::after{
	display: block;
	content: '';
	width: 50px;
	height: 7px;
	background: #eb5635;
	margin-top: 14px;
}
.developer__top-block p{
	font-size: 15px;
	color: #bbb;
  flex-grow: 1;
  width: 60%;
  font-style: italic;
  line-height: 1.2;
  font-weight: 600;
}
.developer__top-block p span{
	color: #eb5635;
}
.developer__top-block{
	display: flex;
}
 /*/// developer__bottom-block ///*/

.developer__bottom-block{
 	width: 100%;
 	
 	margin-top: 85px;
 }
 .slider__container{
 	display: flex;
 	align-items: center;
 	height: 100px;
 }
.developer__arrow__left-block,.developer__arrow__right-block{
	width: 64px;
	height: 64px;
	background-color: #3a3a3a;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 0.1s;
}
.developer__arrow__left-block:hover,.developer__arrow__right-block:hover{
	background: #eb5635;
}
.developer__arrowslideL,.developer__arrowslideR{
	width: 18px;
	height: 6px;
	background: #fff;
	position: relative;
}

.developer__arrowslideL::before,.developer__arrowslideL::after{
  content: '';
  display: block;
  position: absolute;
  background: #fff;
  height: 4px;
  width: 12px;
}
.developer__arrowslideR::before,.developer__arrowslideR::after{
  content: '';
  display: block;
  position: absolute;
  background: #fff;
  height: 4px;
  width: 12px;
}
.developer__arrow__left-block .developer__arrowslideL::before{
	transform-origin: center left;
	transform: rotate(-45deg) translateX(-2px);
	top: 0;
	left: 0;
}
.developer__arrow__left-block .developer__arrowslideL::after{
	transform-origin: center left;
	transform: rotate(45deg) translateX(-2px);
	bottom: 0;
	left: 0;
}
.developer__arrow__right-block .developer__arrowslideR::before{
	transform-origin: center right;
	transform: rotate(-45deg);
	top: 0;
	right: 0;
}
.developer__arrow__right-block .developer__arrowslideR::after{
	transform-origin: center right;
	transform: rotate(45deg);
	bottom: 0;
	right: 0;
}
.developer__sliderblock-container{
	overflow: hidden;
	width: calc(100% - 128px);
}
.developer__slider-block{
	width: 1000%;
	display: flex;
	transition: 0.8s;
}
.developer__foto-block{
	width: 74px;
	height: 74px;
	margin-left: 20px;
	cursor: pointer;
	
}


/*/// developersname__container ///*/

.developersname__container{
	color: black;
	padding-top: 35px;
	display: flex;
	justify-content: center;
}
.developersname__container p{
	font-size: 21px;
	color: #eb5635;
}
.developersname__container span{
	font-size: 18px;
	color: #999;
	font-style: italic;
	padding-top: 3px;
}
.developer__img-border{
	border: 4px solid #eb5635;
}


                                                   /*////// work //////*/

.work{
	min-height: 1px;
	background-color: #fafafa;
	padding-top: 90px;
}

/*/// work__top-block ///*/
.work__top-block{
	display: flex;
	margin-bottom: 70px;
}
.work__top-block h3{
	font-size: 36px;
	color: #222;
  width: 40%;
  position: relative;
}
.work__top-block h3::after{
	display: block;
	content: '';
	width: 50px;
	height: 7px;
	background: #eb5635;
	margin-top: 14px;
}
.work__top-block p{
	font-size: 15px;
	color: #bbb;
  flex-grow: 1;
  width: 60%;
  font-style: italic;
  line-height: 1.2;
  font-weight: 600;
}
.work__top-block p span{
	color: #eb5635;
}


/*/// work__bottom-block ///*/

.work__bottom-block{
	width: 90%;
	margin: 0 auto;
	display: flex;
}
.work__bottom-block h4{
	color: #4b4b4b;
}
.work__bottom-block__left-container,
.work__bottom-block__right-container{
	flex-basis: 50%;
}
.description__block{
	margin-top: 20px;
	color: #b1b1b1;
	font-size: 14px;
	line-height: 1.3;
	font-family: "Gothamthin-m",sans-serif;
}
.description__block time{
	font-size: 15px;
	display: flex;
	align-items: center;
	margin-bottom: 18px;
}

.description__block time span{
	margin: 0 15px;
}

.work__button-block{
	color: #eb5635;
	width: 125px;
	height: 30px;
	font-size: 12px;
	font-weight: 600;
	border: 1px solid #eb5635;
	padding-top: 3px;
	margin-top: 20px;
	border-radius: 20px;
}


                                                           /*////// blog //////*/

.blog{
	background-color: #fff;
	padding-top: 90px;
	min-height: 1180px;
	color: black;
} 
.blog .container{
	display: flex;
	justify-content: space-between;
	padding: 0;
}                                                          
.blog h2{
	color: #222;
	font-size: 36px;
	display: flex;
	justify-content: space-between;
	align-items: end;
	margin-bottom: 70px;
}
.blog h2 span{
	font-size: 15px;
  color: #b1b1b1;
  margin-bottom: 4px;
}
.blog__content-block{
	width: 33%;
	padding: 0 30px 0 10px;
	
}
/*/// .blog__content-block__container ///*/

.blog__content-block__container{
	padding-left: 23px;
}
.blog__content-block__container h3{
	color: #4b4b4b;
	margin-bottom: 20px;
	line-height: 1.3;
}

.blog__content-block__container p{
	line-height: 1.4;
	font-size: 15px;
	color: #b1b1b1;
}
.blog__content-block__container .btn{
	width: 85px;
	margin-top: 30px;
	color: #eb5635;
	margin-left: -7px;
}

.blog__content-block:nth-child(3) a{
	display: inline;
	color: #59adeb;
}
